<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../my-element/my-checkbox.html">


<polymer-element name="become-speaker"> <template>
<style>
#content {
	background-color: rgb(255, 255, 255);
}

paper-input, paper-toggle-button {
	width: 250px;
}

paper-button[raised].colored {
	background: #4285f4;
	color: #fff;
}
</style>
<div id="content">
	<paper-item icon="add-box" label="Become Speaker"></paper-item>
	<p>
		If you are a current or retired member of Mason s faculty or staff, or
		a Mason alum, and would like to participate in the Mason Speakers
		program, please complete the form below. All speakers are involved on
		a volunteer basis. Speaking engagements are made by the
		<paper-button> <a
			href="http://relations.gmu.edu/community-relations/" target="_blank">Office
			of Community and Local Government Relations </a> </paper-button>
		and free of charge to community organizations.
	</p>
	<p>
		For more information about the program, or to notify us of a problem
		with submission of this form, please contact
		<paper-button> <a href="mailto:sgallag5@gmu.edu"
			target="_blank">Sarah Gallagher</a> </paper-button>
		, Mason Speakers Coordinator, via
		<paper-button> <a href="mailto:sgallag5@gmu.edu"
			target="_blank">email</a> </paper-button>
		or by calling (703) 993-8761.
	</p>

	<table>
		<tr>
			<td width="200px">Name:</td>
			<td><paper-input label="name" value="{{name}}"></paper-input></td>
			<td width="40px;" />
			<td width="200px">Mason Employee:</td>
			<td>NO <paper-toggle-button checked="{{masonemployee}}"></paper-toggle-button>
				YES
			</td>
		</tr>
		<tr>
			<td>Work Phone:</td>
			<td><paper-input label="work phone" value="{{workphone}}"></paper-input></td>
			<td></td>
			<td>Retired</td>
			<td>NO <paper-toggle-button checked="{{retired}}"></paper-toggle-button>
				YES
			</td>
		</tr>
		<tr>
			<td>Home Phone:</td>
			<td><paper-input label="home phone" value="{{homephone}}"></paper-input></td>
			<td></td>
			<td>Mason Alumnus:</td>
			<td>NO <paper-toggle-button checked="{{masonalumnus}}"></paper-toggle-button>
				YES
			</td>
		</tr>
		<tr>
			<td>Cell Phone:</td>
			<td><paper-input label="cell phone" value="{{cellphone}}"></paper-input></td>
			<td></td>
			<td colspan="2">Biography:</td>
		</tr>
		<tr>
			<td>Email:</td>
			<td><paper-input floatingLabel label="Type an email here"
					value="{{email}}" type="email" error="Input is not an email!"></paper-input></td>
			<td></td>
			<td colspan="2" rowspan="2"><paper-input multiline
					value="{{biography}}" label="Enter biography here"
					style="height:140px;width:500px;"></paper-input></td>
		</tr>
		<tr>
			<td>Topic Title:</td>
			<td><paper-input label="topic title" value="{{topictitle}}"></paper-input></td>
			<td></td>
		</tr>
	</table>
	<table>
		<tr>
			<td>Categories:</td>
		</tr>
		<tr>
			<td><table>
					<tr height="40px;">
						<td><my-checkbox label="Aging" value=false
								on-checked="{{categoryCheckboxClicked}}"></my-checkbox></td>
						<td />
						<td><my-checkbox label="Americal culture" value=false
								on-checked="{{categoryCheckboxClicked}}"></my-checkbox></td>
						<td />
						<td><my-checkbox label="Arts" value=false
								on-checked="{{categoryCheckboxClicked}}"></my-checkbox></td>
						<td />
						<td><my-checkbox label="Business and Finance" value=false
								on-checked="{{categoryCheckboxClicked}}"></my-checkbox></td>
					</tr>
					<tr height="40px;">
						<td><my-checkbox label="Childhood Development & Parenting"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox></td>
						<td />
						<td><my-checkbox label="Communication"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox>
						</td>
						<td />
						<td><my-checkbox label="Crime/Violence"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox>
						</td>
						<td />
						<td><my-checkbox label="Cultural, Social & World Issues"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox></td>
					</tr>
					<tr height="40px;">
						<td><my-checkbox label="Economic Development"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox>
						</td>
						<td />
						<td><my-checkbox label="Education & Teaching"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox>
						</td>
						<td />
						<td><my-checkbox label="Environment"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox>
						</td>
						<td />
						<td><my-checkbox label="Ethics"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox></td>
					</tr>
					<tr height="40px;">
						<td><my-checkbox label="George Mason University"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox>
						</td>
						<td />
						<td><my-checkbox label="Government & Politics"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox>
						</td>
						<td />
						<td><my-checkbox label="Health, Nutrition, Exercise & Sports"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox></td>
						<td />
						<td><my-checkbox label="History"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox></td>
					</tr>
					<tr height="40px;">
						<td><my-checkbox label="Human Resource Management/Personnel"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox></td>
						<td />
						<td><my-checkbox label="Judaic Studies"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox>
						</td>
						<td />
						<td><my-checkbox label="Law Enforcement"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox>
						</td>
						<td />
						<td><my-checkbox label="Leadership & Career Development"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox></td>
					</tr>
					<tr height="40px;">
						<td><my-checkbox label="Literature, Poetry & Writing"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox></td>
						<td />
						<td><my-checkbox label="None"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox></td>
						<td />
						<td><my-checkbox label="Nonprofit Organizations & Charities"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox></td>
						<td />
						<td><my-checkbox label="Philosophy"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox>
						</td>
					</tr>
					<tr height="40px;">
						<td><my-checkbox label="Psychology"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox>
						</td>
						<td />
						<td><my-checkbox label="Public Policy & the Law"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox>
						</td>
						<td />
						<td><my-checkbox label="Religion"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox>
						</td>
						<td />
						<td><my-checkbox label="Safety"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox></td>
					</tr>
					<tr height="40px;">
						<td><my-checkbox
								label="Science, Technology, Engineering & Math"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox>
						</td>
						<td />
						<td><my-checkbox label="Transportation"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox>
						</td>
						<td />
						<td><my-checkbox
								label="Washington Metropolitan Regional Issues"
								on-checked="{{categoryCheckboxClicked}}" value=false></my-checkbox>
						</td>
						<td />
						<td></td>
					</tr>
				</table></td>
		</tr>
		<tr>
			<td>A/V</td>
		</tr>
		<tr>
			<td>
				<table>
					<tr height="40px;">
						<td><my-checkbox label="Flip Chart"
								on-checked="{{avCheckboxClicked}}" value=false></my-checkbox></td>
						<td />
						<td><my-checkbox label="Internet Acess"
								on-checked="{{avCheckboxClicked}}" value=false></my-checkbox></td>
						<td />
						<td><my-checkbox label="Laptop"
								on-checked="{{avCheckboxClicked}}" value=false></my-checkbox></td>
						<td />
						<td><my-checkbox label="LCD Projector"
								on-checked="{{avCheckboxClicked}}" value=false></my-checkbox></td>
					</tr>
					<tr height="40px;">
						<td><my-checkbox label="Screen"
								on-checked="{{avCheckboxClicked}}" value=false></my-checkbox></td>
						<td />
						<td><my-checkbox label="TV and VCR"
								on-checked="{{avCheckboxClicked}}" value=false></my-checkbox></td>
						<td />
						<td><my-checkbox label="White Board and Markers"
								on-checked="{{avCheckboxClicked}}" value=false></my-checkbox></td>
						<td />
						<td><my-checkbox label="None"
								on-checked="{{avCheckboxClicked}}" value=false></my-checkbox></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align="right"><paper-button on-tap="{{doSend}}" raised
					class="colored">Submit</paper-button></td>
		</tr>
	</table>
	<core-ajax id="ajax" auto="false" method="POST"
		contentType="application/json" url="/GMUSpeaker/storebecomespeaker"
		body='{"avs":{{avsList}},"categories":{{categoryList}},"masonEmployee":"{{masonemployee}}","retired":"{{retired}}","masonAlumnus":"{{masonalumnus}}","name":"{{name}}","homePhone":"{{homephone}}","cellPhone":"{{cellphone}}","workPhone":"{{workphone}}","email":"{{email}}","topicTitle":"{{topicTitle}}","biography":"{{biography}}"}'
		response="{{response}}"> </core-ajax>
</div>
</template> <script>
	Polymer('become-speaker', {
		categoriesList : "",
		categories : [],
		avs : [],
		avsList : "",
		doSend : function(event, detail, sender) {
			this.$.ajax.go();
		},
		categoryCheckboxClicked : function(event, detail, sender) {
			if (detail.value) {
				this.categories.push('"' + detail.label + '"');
			} else {
				var index = this.categories.indexOf('"' + detail.label + '"');
				this.categories.splice(index, 1);
			}
			this.categoryList = '[' + this.categories + ']';
			//	alert(this.categories);
		},
		avCheckboxClicked : function(event, detail, sender) {
			if (detail.value) {
				this.avs.push('"' + detail.label + '"');
			} else {
				var index = this.avs.indexOf('"' + detail.label + '"');
				this.avs.splice(index, 1);
			}
			this.avsList = '[' + this.avs + ']';
			//	alert(this.avs);
		},
	});
</script> </polymer-element>