<link rel="import" href="../polymer/polymer.html">

<polymer-element name="find-speaker"> <template>
<style>
#content {
	background-color: rgb(255, 255, 255);
}

paper-input {
	width: 250px;
}

paper-button.colored {
	color: #4285f4;
}
</style>
<div id="content">
	<table>
		<tbody>
			<tr>
				<td colspan="5"><paper-item icon="folder-shared"
						label="Find Speaker"></paper-item></td>
			</tr>
			<tr>
				<td colspan="5"><p>Choose from categories or speakers then
						click the "submit" button. As an alternative, you may use keyword
						search.</p></td>
			</tr>
			<tr>
				<td>Categories:</td>
				<td><paper-dropdown-menu> <template
						repeat="{{categories}}"> <paper-item label="{{name}}"></paper-item>
					</template> </paper-dropdown-menu></td>
				<td><paper-button raised>Submit</paper-button></td>
				<td>OR</td>
				<td><paper-button class="colored">All Categories</paper-button></td>
			</tr>
			<tr>
				<td>Speakers:</td>
				<td><paper-dropdown-menu> <template
						repeat="{{speakers}}"> <paper-item label="{{name}}"></paper-item>
					</template> </paper-dropdown-menu></td>
				<td><paper-button raised>Submit</paper-button></td>
				<td>OR</td>
				<td><paper-button class="colored">All speakers</paper-button></td>
			</tr>
			<tr>
				<td>Keyword Search:</td>
				<td><paper-input multiline floatingLabel label="Type keyword"></paper-input>
				</td>
				<td><paper-button raised>Submit</paper-button></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
</template> <script>
	Polymer('find-speaker', {
		categories : [ {
			code : 'aging',
			name : 'Aging'
		}, {
			code : 'american-culture',
			name : 'American Culture'
		}, {
			code : 'arts',
			name : 'Arts'
		}, {
			code : 'business-finance',
			name : 'Business and Finance'
		}, {
			code : 'childhood-development-parenting',
			name : 'Childhood Development and Parenting'
		}, {
			code : 'communication',
			name : 'Communication'
		}, {
			code : 'crimeviolence',
			name : 'Crime/Violence'
		}, {
			code : 'economic-development',
			name : 'Economic Development'
		}, {
			code : 'education-teaching',
			name : 'Education and Teaching'
		}, {
			code : 'environment',
			name : 'Environment'
		}, {
			code : 'ethics',
			name : 'Ethics'
		}, {
			code : 'george-mason-university',
			name : 'George Mason University'
		}, {
			code : 'government-politics',
			name : 'Government and Politics'
		}, {
			code : 'history',
			name : 'History'
		}, {
			code : 'human-resource-managementpersonnel',
			name : 'Human Resource Management/Personnel'
		}, {
			code : 'judaic-studies',
			name : 'Judaic Studies'
		}, {
			code : 'law-enforcement',
			name : 'Law Enforcement'
		}, {
			code : 'leadership-career-development',
			name : 'Leadership and Career Development'
		}, {
			code : 'nonprofit-organizations-charities',
			name : 'Nonprofit Organizations and Charities'
		}, {
			code : 'philosophy',
			name : 'Philosophy'
		}, {
			code : 'psychology',
			name : 'Psychology'
		}, {
			code : 'public-policy-the-law',
			name : 'Public Policy and the Law'
		}, {
			code : 'real-estate',
			name : 'Real Estate'
		}, {
			code : 'religion',
			name : 'Religion'
		}, {
			code : 'research',
			name : 'Research'
		}, {
			code : 'safety',
			name : 'Safety'
		}, {
			code : 'transportation',
			name : 'Transportation'
		}, {
			code : 'washington-metropolitan-regional-issues',
			name : 'Washington Metropolitan Regional Issues'
		} ],

		speakers : [ {
			code : 'alan-abramson',
			name : 'Abramson, Alan'
		}, {
			code : 'katrin-b-anacker',
			name : 'Anacker, Katrin B.'
		}, {
			code : 'david-anderson',
			name : 'Anderson, David'
		}, {
			code : 'robert-baker',
			name : 'Baker, Robert'
		}, {
			code : 'doris-bitler',
			name : 'Bitler, Doris'
		}, {
			code : 'johanna-bockman',
			name : 'Bockman, Johanna'
		}, {
			code : 'don-boileau',
			name : 'Boileau, Don'
		}, {
			code : 'lucy-boland',
			name : 'Boland, Lucy'
		}, {
			code : 'susan-c-bon',
			name : 'Bon, Susan C.'
		}, {
			code : 'mariama-boney',
			name : 'Boney, Mariama'
		}, {
			code : 'kirk-borne',
			name : 'Borne, Kirk'
		}, {
			code : 'karen-bune',
			name : 'Bune, Karen'
		}, {
			code : 'ted-burnes',
			name : 'Burnes, Ted'
		} ]

	});
</script> </polymer-element>