<link rel="import" href="../polymer/polymer.html">

<polymer-element name="request-speaker"> <template>
<style>
#content {
	background-color: rgb(255, 255, 255);
}

paper-input {
	width: 250px;
}

paper-button[raised].colored {
	background: #4285f4;
	color: #fff;
}
</style>
<div id="content">

	<paper-item icon="drive-file-rename" label="Request a speaker"></paper-item>

	<table>
		<tr>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</table>

	<table>
		<tr>
			<th></th>
			<th></th>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
		</tr>
	</table>



</div>
</template> <script>
	Polymer('request-speaker', {});
</script> </polymer-element>